.board-form {
  /* width: min-content; */
  width: 270px;
  margin: 15px;
  padding: 20px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 20px;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;

  /* box-shadow: ; */

}

.board-form__section {
  margin-bottom: 20px;
  /* border: 1px solid red; */
}


.board-form__group label {
  margin-bottom: 60px;
  color: #222222;
}


.board-form__group input {
  display: flex;
  flex-direction: column;

  width: 100%;

  border: none;
  border-bottom: 1px solid #dadada;

  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;

  -moz-appearance:textfield;
}

.board-form__group input::placeholder {
  color: #999;
}
.board-form__group input:focus {
  outline: none;
}


.board-form__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.form-buttons__row {
  display: flex;
  gap: 5px;

}

.btn--grow {
  flex: 1 1 0;
}


.big {
  width: 49%;
}
.small {
  width: 33%;
}

/* .btn-calculate {
  width: 100%;
} */